h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.links {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

body {
  font-family: "Roboto", sans-serif;
}

:root {
  --accent-color: #2196f3;
  --subtitle-color: #757575;
  --contact-color: rgba(255, 255, 255, 0.6);
  --text-color: #212121;
}
/*======= Header ======*/

.header {
  padding-top: 25px;
  padding-bottom: 25px;
}

.header .container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}
.header-link {
  margin-right: 93px;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list-item:not(:last-child) {
  margin-right: 40px;
}

.header-list {
  margin-left: auto;
}

.header-list {
  display: flex;
}

.nav-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143px;
  color: var(--text-color);
}

.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--accent-color);
}

.header-list-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143px;
  letter-spacing: 0.02em;
  color: var(--subtitle-color);
}

.header-list-tel:hover,
.header-list-tel:focus {
  color: var(--accent-color);
}

.header-list-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143px;
  letter-spacing: 0.02em;
  color: var(--subtitle-color);
  margin-right: 50px;
}

.header-list-mail:hover,
.header-list-mail:focus {
  color: var(--accent-color);
}

.link {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192px;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192px;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

/*====== Hero ======*/

.hero-subject {
  font-weight: 900;
  font-size: 44px;
  /*line-height: 1.364px;*/
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /*color: #ffffff;*/
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

/*====== Feature ======*/

.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--subtitle-color);
}

.feature-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714px;
  letter-spacing: 0.03em;
  color: var(--subtitle-color);
}

/*====== What we do ======*/

.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/*====== -Our Team ======*/

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.team-profession {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.188px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--subtitle-color);
}

/*====== Footer ======*/

.footer-list-item {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714px;
  letter-spacing: 0.03em;
  /*color: #FFFFFF;*/
}

.footer-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714px;
  letter-spacing: 0.03em;
  /*color: var(--contact-color);*/
}

/*====== Portfolio ======*/

/*====== Main ======*/

button:hover,
button:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
}

.features-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}

.features-list-subtitle {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  /*color: var(--subtitle-color);*/
}
